body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 1.2em;
  font-size: medium;
  line-height: 1.5;
}

#diceimg{
  width: 100%;
  height: inherit;
}

#myProgress {
    width: 100%;
}

#myBar {
    width: 0%;
    height: 10px;
    background-color: #26a69a;
    radius: 10px;
}

#resultDice{
  margin: -4.906667rem 0 .656rem 0;
}

select{
  display: block!important;
}

h5{
  margin: 3.093333rem 0 .656rem 0;
}

.anchor-container > .btn{
  width: 100%;
}

img.card-img-top {
    width: 100%;
    height: 165px;
    margin-bottom: 20px;
}

img.cardimg{
  text-align: center;
}

.Trello-cards{
  display: none
}

.container-fluid {
  padding-top: 20px;
}

.white-space{
  height: 300px;
}

.card{
  margin: 20px;
}

@media screen and (max-width:420px) {

  .parallax-container {
      margin-bottom: -35%;
  }

  .parallax{
    height: 60%;
  }
}
