body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 1.2em;
  font-size: medium;
  line-height: 1.5;
}

#diceimg{
  width: 100%;
}
/*
.progressBar{
  display: none;
}*/

#myProgress {
    width: 100%;
}

#myBar {
    width: 0%;
    height: 10px;
    background-color: #26a69a;
    radius: 10px;
}

h5{
  margin: 3.093333rem 0 .656rem 0;
}

.anchor-container > .btn{
  width: 100%;
}

img.card-img-top {
    width: 100%;
    margin-bottom: 20px;
}

img.cardimg{
  text-align: center;
}

.Trello-cards{
  display: none
}

.container-fluid {
  padding-top: 20px;
}

.white-space{
  height: 300px;
}

.card{
  margin: 20px;
}
